.App {
  text-align: center;
}
.logo {
  margin-top: -40px;
  width: 400px;
}
.homepage-login {
  background-image: url("team4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* upload component */
.uploadPic {
}
