.CurrentUser {
  display: flex;
  justify-content: space-between;
}

.CurrentUser-id {
  padding: 1em;
  flex: 1;
}

.CurrentUser-image {
  max-height: 150px;
}

#image {
  height: 200px;
  width: 200px;
  border-radius: 20px;
}
